<div class="main-container" fxFlex fxLayout="row" fxLayoutAlign="center">
  <div class="main-columns"
    style="height:100vh"
    fxFlex="80"
    fxFlex.md="90"
    fxFlex.lt-md="100"
    fxLayout="column"
    fxLayoutGap="10px">
    <views-work-card></views-work-card>
    <div fxLayout="row">
      <div class="summary-content" fxFlex="grow">
        <!-- display summary data here -->
        <mat-card>
            <mat-card-title>Story</mat-card-title>
            <mat-card-content>Short summary</mat-card-content>
            <mat-card-footer>
              <button fxFlex mat-flat-button color="accent">Support me!</button>
            </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
