<div class="ui borderless main menu" style>
  <div class='header item'>
    <div class="logo">
      <views-logo></views-logo>
    </div>
  </div>
</div>

<div class="ui labeled button" tabindex="0">
  <div class="ui red button">
    <i class="heart icon"></i> Like
  </div>
  <a class="ui basic red left poiting label">
    1,024
  </a>
</div>

<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<views-messages></views-messages>