<mat-toolbar id=header color="basic">
  <div class="logo-box">
    <a class="logo-link" href="/"><views-logo></views-logo></a>
  </div>
  <div class="header-menu">
    <button mat-icon-button class="header-button header-menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="log-in-button-box" fxFlexOffset="auto">
    <!-- button mat-button class="header-button header-login-button">Log In</button -->
    <views-log-in class="header-element"></views-log-in>
  </div>
  <div class="sign-up-button-box">
    <!-- button mat-button class="header-button header-signup-button">Sign Up</button -->
    <views-sign-up class="header-element"></views-sign-up>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar color="primary">
  <a color="primary" mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.path"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
  {{link.label}}</a>
</nav>
<router-outlet></router-outlet>

<views-messages></views-messages>