
svg#logo {
  display: table-cell;
  vertical-align: middle;
}

a.logo-link:hover {
  opacity: 0.5;
}

button.log-in-button {
  span {
    font-size: 16px;
    font-weight: 700;
  }
}

button.sign-up-button {
  span {
    font-size: 16px;
    font-weight: 700;
  }
}
