$sm-min: 600px;
$md-min: 960px;
$lg-min: 1280px;

// Do content when greater than break point
@mixin gt-bp($break-point) {
  @media screen and (min-width: $break-point){
    @content;
  }
}

// Do content when less than break point
@mixin lt-bp($break-point) { 
  @media screen and (max-width: $break-point) {
    @content;
  }
}

mat-form-field.mat-form-field {
  font-size: 16px;
  width: 100%;
  @include gt-bp($md-min) {
    padding: 32px;
  }
  @include lt-bp($md-min) {
    padding: 4px;
  }
}

.mat-dialog-title {
  text-align: center;
}
