.work-details {
  padding: 10px;
}

.author {
  text-align: right;
}

.description-section {
  margin-top: 20px;
}

.mat-card-actions {
  margin-top:0px;
  padding-top: 0px;
}

.work-image {
  padding: 10px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.mat-card:not(class*=mat-elevation-z) {
  box-shadow: none;
}
