<div class="cover-column" fxLayout="row wrap" fxLayoutAlign="center">
  <!-- ngClass.xs="work-image-mobile" -->
  <div class="work-image"
    fxFlex="50"
    fxFlex.xs=100
    fxLayout="column">
    <mat-card>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </mat-card>
  </div>
  <div class="work-details"
    fxFlex="50"
    fxFlex.xs="100"
    fxLayout="column">
    <!-- display title, author, tags, and raised money etc... here -->
    <mat-card>
      <mat-card-title>{{work.title}}</mat-card-title>
      <mat-chip-list aria-label="Tags">
        <mat-chip *ngFor="let tag of work.tags">{{tag}}</mat-chip>
      </mat-chip-list>
      <mat-card-subtitle>{{work.author}}</mat-card-subtitle>
      <mat-card-content>{{work.description}}</mat-card-content>
      <mat-card-footer>{{work.fund | currency}}</mat-card-footer>
      <mat-card-actions>
        <button fxFlex mat-flat-button color="primary">Support!</button>
        <button fxFlex mat-flat-button color="accent">Like</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

