$sm-min: 600px;
$md-min: 960px;
$lg-min: 1280px;

// Do content when greater than break point
@mixin gt-bp($break-point) {
  @media screen and (min-width: $break-point){
    @content;
  }
}

// Do content when less than break point
@mixin lt-bp($break-point) { 
  @media screen and (max-width: $break-point) {
    @content;
  }
}

div {
  &.work-details {
    padding: 10px;
  }
  &.author {
    text-align: right;
  }
  &.description-section {
    margin-top: 20px;
    @include gt-bp($md-min) {
      font-size: 1.6vw;
      line-height: 1.8vw;
    }
    @include lt-bp($md-min) {
      font-size: 15px;
      line-height: normal;
    }
  }
  &.fund-section h2{
    @include gt-bp($md-min) {
      font-size: 2vw;
      line-height: 2.2vw;
    }
    @include lt-bp($md-min) {
      font-size: 20px;
      line-height: normal;
    }
  }
}

img {
  .work-image {
    padding: 10px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

mat-card-actions {
  margin-top:0px;
  padding-top: 0px;
}

mat-card {
  box-shadow: none;
}

mat-card-title {
  @include gt-bp($md-min) {
    font-size: 2.5vw;
    line-height: 2.8vw;
  }
  @include lt-bp($md-min) {
    font-size: 24px;
    line-height: normal;
  }
}

mat-chip {
  @include gt-bp($md-min) {
    font-size: 1.6vw;
    min-height: 1.8vw;

  }
  @include lt-bp($md-min) {
    font-size: 15px;
    min-height: 32px;
  }
}

h3 {
  &.author {
    @include gt-bp($md-min) {
      font-size: 1.8vw;
      line-height: 2vw;
    }
    @include lt-bp($md-min) {
      font-size: 18px;
      line-height: normal;
    }
  }
}

