.work-image {
  padding: 10px;
}

.work-details {
  padding: 10px;
}

.author {
  text-align: right;
}

.description-section {
  margin-top: 20px;
}

.mat-card-actions {
  margin-top:0px;
  padding-top: 0px;
}

.work-image-beta {
  width: calc(100%-0px);
}