@import '../node_modules/@angular/material/theming';
@include mat-core();



/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$teal-theme-primary: mat-palette($mat-teal, 600);
$teal-theme-accent:  mat-palette($mat-brown, 300, 500, 900);
$teal-theme-warn:    mat-palette($mat-deep-purple);

$teal-light-theme: mat-light-theme($teal-theme-primary, $teal-theme-accent, $teal-theme-warn);
$teal-dark-theme: mat-dark-theme($teal-theme-primary, $teal-theme-accent, $teal-theme-warn);

@include angular-material-theme($teal-light-theme);

.alternate-chips {
  @include mat-chips-color($teal-light-theme);
}


.dark-theme {
  @include angular-material-theme($teal-dark-theme);
}